
body{
  background-color: PapayaWhip;
}

p {
  display: relative;
  width: 1000px;
  font-family: Impact, Charcoal, sans-serif;
  font-size: 25px;
  max-width: 700px;
  color: #30404f;
}

h1 {
  display: relative;
  width: 1000px;
  margin: 50px auto;
  font-family: Candara;
  font-size: 50px;
  color: MidnightBlue;
  text-decoration:underline;
  text-decoration-color: MidnightBlue;
  min-width: 200px;
}

#temperature, #wind-speed{
  cursor: pointer;
  color: #2d1278;
}

.button {
  display: inline-block;
  border-radius: 4px;
  background-color: #f4511e;
  border: none;
  color: FloralWhite;
  text-align: center;
  font-size: 25px;
  padding: 15px;
  width: 180px;
  cursor: pointer;
  margin: 5px;
  position: relative;
  font-family: Impact, Charcoal, sans-serif;
}

div{
  align: center;
  border-radius: 42px;
  max-width: 700px;
  background-color: PeachPuff;
  padding-bottom: 10px;

}

a{
  color: DarkCyan;
}

footer {
  border-radius: 12px;
  border: 10px;
  background-color: GreenYellow;
  color: LightBlack;
  max-width: 700px;
}
